{% extends 'base.html.twig' %}

{% block body %}

        {{ form(form) }}

{#    {{ form_start(form) }}#}
{#    <div class="my-custom-class-for-errors">#}
{#        {{ form_errors(form) }}#}
{#    </div>#}
{##}
{#    <table>#}
{#        <tr></tr>#}
{#    </table>#}
{##}
{#    {{ form_end(form) }}#}
{% endblock %}
